body{
  background-image: linear-gradient(115deg, rgba(58,58,158,0.8),rgba(136,136,206,0.7)), url('	https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg')
;
background-size: cover;
background-repeat:no-repeat;
opacity:0.8;
color:white;
  
}
#name, #email, #age{
  display:block;
  width:85%;
  margin-bottom:20px;
  margin-top:5px;
}
.selector{
  display: block;
  margin-bottom: 20px;
  margin-top:5px;
  width:85.5%;
 

}
h1{
  text-align:center;
  margin-bottom:0;
  font-size:40px;

}
p{
  text-align: center;
  margin-top:0;
  font-size:15px
}

form{
  background-color: rgba(2,2,78,1);
  width:75%;
  margin:auto;
  height:auto;
  padding-left:30px;
  padding-top:40px;
  
}


#textarea{
  width:85%;
  margin-top:10px;
}
#btn{
  width:85.6%;
  background-color:green;
  font-weight:bold;
  margin-top:20px;
  margin-bottom:50px;
  border:none;
  
}
.cat1{
  margin:10px 0;
}
.option{
  margin:10px 0;
}
.favorite{
   margin-bottom:10px;
   padding-bottom:5px;
}